@tailwind base;
@tailwind components;
@tailwind utilities;

/* all */
* {
  box-sizing: border-box;
}

/* custom */
.vh-without-nav {
  min-height: calc(100vh - 20rem);
}

.margin-left-auto {
  margin-left: auto;
}

.custom-dotted-border-bottom {
  border-bottom: 6px dotted var(--foundation);
}

.custom-input {
  border-radius: 9999px;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  background-color: #ffffff;
  border-width: 1px;
  border-style: solid;
  border-color: var(--foundation);
  margin-bottom: 1.5rem;
  text-align: center;
  font-style: italic;
}

.custom-input:focus {
  outline-color: var(--foundation);
}

@layer base {
  :root {
    --foundation: #27c8a0;
    --btn-background-hover: 200 10% 89%;
    --foreground: 200 50% 3%;
  }
}

@layer base {
  * {
    @apply border-foreground/20;
  }
}

.animate-in {
  animation: animateIn 0.3s ease 0.15s both;
}

@keyframes animateIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
