@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100;0,9..40,200;0,9..40,300;0,9..40,400;0,9..40,500;0,9..40,600;0,9..40,700;0,9..40,800;0,9..40,900;0,9..40,1000;1,9..40,100;1,9..40,200;1,9..40,300;1,9..40,400;1,9..40,500;1,9..40,600;1,9..40,700;1,9..40,800;1,9..40,900;1,9..40,1000&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

.global-background {
  background-image: url('/green-bonbon.jpg');
  background-size: cover;
  background-position: bottom;
}

.vh-without-nav {
  min-height: calc(100vh - 6rem);
}

.margin-left-auto {
  margin-left: auto;
}

.cust-dotted-border-bottom {
  border-bottom: 6px dotted #077467;
}

body {
  font-family: 'DM Sans', sans-serif;
}

@layer base {
  :root {
    --background: #ffffff;
    --btn-background: #ffffff;
    --btn-background-hover: 200 10% 89%;
    --foreground: 200 50% 3%;
  }
}

@layer base {
  * {
    @apply border-foreground/20;
  }
}

.animate-in {
  animation: animateIn 0.3s ease 0.15s both;
}

@keyframes animateIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
